@media(max-width: 1490px){
	.item-first {
		left: -15px;
	}
}


@media(max-width: 1245px){
	.about__content {
		margin-left: 40px;
	}
}

@media(max-width: 1095px){
    .menu-link{
        margin-right: 75px;
    }
    .menu-icon {
        margin-right: 60px;
    }
}

@media(max-width: 1060px){
    .decorate-home__title{
		font-size: 45px;
		padding-right: 0;
	}
	.decorate-home__subtitle{
		padding-bottom: 30px;
	}
	.decorate-home__buttons{
		display: block;
	}
	.btn{
		margin-bottom: 10px;
	}

	 .about__img::after {
		width: 30px;
    	height: 250px;
    	bottom: 250px;
    	right: 0px;
	}
	.about__title,
	.why-we__title{
		font-size: 45px;
	}
	.about__title span,
	.why-we__title span {
		font-size: 80px;
		line-height: 95px;
		padding-bottom: 40px;
	}
	.about__img::before {
		width: 30px;
		left: 0;
	} 
	.about__img {
		padding-right: 30px;
		padding-left: 30px;
	}
	.info__title{
		font-size: 75px;
    line-height: 85px;
	}
	.info__title span{
		font-size: 75px;
    	line-height: 70px;
	}
}

@media(max-width: 935px){
	.decorate-home__subtitle{
		padding-top: 45px;
	}
	.about__img {
		padding: 0 15px 40px;
	}	
	.about__img::after,
	.about__img::before{
		display: none;
	}
	.about__content {
		margin-left: 0;
		padding: 0 15px;
	}
	.info__row{
		display: block;
		padding-top: 0;
		text-align: center;
	}
	.info__btn{
		margin: 0 auto;
	}
	.info__title{
		padding-bottom: 25px;
		padding-top: 0;
	}
	.info__img{
		max-width: 506px;
    	margin: 0 auto;
		padding: 15px;
	}
	
}

@media(max-width: 915px){
    .menu-link{
        margin-right: 40px;
    }
    .menu-icon {
        margin-right: 20px;
    }
}

@media(max-width: 860px){
	.btn{
		max-width: 245px;
	}
	.btn-video{
		padding: 25px 5px;
		text-align: inherit;
	}
	.btn-video i{
		padding-right: 5px;
	}
	.decorate-home__subtitle {
		padding-top: 40px;
	}
	.decorate-home {
		padding-bottom: 155px;
	}
}

@media(max-width: 860px){
	.about__img{
		display: none;
	}
}

@media (max-width: 767px){
	body.lock{
		overflow: hidden;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 21px;
		z-index: 3;
        margin: 0 15px 0 45px;
	}
	.header__burger span{
		position: absolute;
		background-color: #282A30;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all .3s;
	}
	.header__burger::before,
	.header__burger::after{
		content: '';
		background-color: #282A30;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after{
		bottom: 0;
	}
	.header__burger.active-menu::before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active-menu::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active-menu span{
		transform: scale(0);
	}

    .header__menu-list{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 70px 0 0 0;
		left: -100%;
		transition: all .5s;
		overflow: auto;
		z-index: 1;
	}
	.header__menu-list.active-menu{
		left: 0;
	}
	.header__menu-list{
		margin: 0 auto;
        display: flex;
        align-items: center;
	}
	.header__menu-list li{
		display: block;
		margin-bottom: 25px;
	}
	.menu-link,
	.menu-icon{
		margin: 0;
	}
	.header__menu-list.active-menu{
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	.header__menu-list li:last-child {
		margin: 30px;
	}
	.header {
        padding-top: 35px;
        margin-bottom: 25px;
    }
	.decorate-home__title{
		font-size: 40px;
	}
	.decorate-home__img{
		display: none;
	}
	.decorate-home {
		padding-bottom: 65px;
	}
	.about__title span{
		padding-bottom: 15px;
	}
	.about__text{
		margin-bottom: 30px;
	}
	.about {
		padding-bottom: 65px;
	}
	.footer__row{
		justify-content: stretch;
	}
	.footer__column{
		flex: 0 50%;
    	margin-bottom: 50px;
	}
}

@media (max-width: 520px){
	.item-first,
	.item-third,
	.item-second{
		position: static;
	}
	.why-we__col{
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
		margin-top: 30px;
	}
	.why-we{
		padding-bottom: 55px;
	}
	.why-we__col::before{
		bottom: -45px;
	}
	.products{
		padding-bottom: 95px;
	}
	.info {
		padding-bottom: 95px;
	}
	.footer__row{
		display: block;
		padding-top: 45px;
	}
	.footer__title{
		margin-bottom: 20px;
	}
	.discount-title{
		margin-bottom: 20px;
	}
	.footer{
		padding-bottom: 30px;
	}
}

@media (max-width: 460px){
	.about__title,
	.why-we__title,
	.products__title,
	.info__title {
		font-size: 40px;
		line-height: 50px;
	}
	.about__title span,
	.why-we__title span,
	.products__title span{
		font-size: 60px;
		line-height: 60px;
	}
	.why-we__item-text{
		padding-right: 15px;
	}
	.slick-btn{
		right: 25px;
	}
	.slick-prev{
		right: 110px;
	}
}

@media (max-width: 398px){
	.decorate-home__title{
		padding-right: 0;
		font-size: 35px;
		line-height: 50px;
		margin-bottom: 30px;
		line-height: 60px;
	}
	.about__title span,
	.why-we__title span{
		font-size: 50px;
	}
	.btn{
		font-size: 18px;
		padding: 15px 20px;
	}
}